<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
   <% if(currentUser) {%>
   <h1>Welcome to Clubhouse <%=currentUser.firstname%>!</h1> 
   <p>Go to <a href="/messages">messages!</a></p>
   <form action="/logout" method="GET">
    <button type="submit">LOGOUT</button>
   </form>
   <%} else {%>
    <h1>Welcome to Clubhouse Guest!</h1>
    <p>Please <a href="/login">login</a> to continue</p>
    <p>Or <a href="/signup">sign up</a> if you are new!</p>
   <%}%>
</body>
</html>